@model PCSistelGateway.ViewModels.Login.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Login - Gateway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="@Url.Content("~/Content/css/shared/font-awesome.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/css/shared/nifty.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/css/shared/nifty-demo.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/css/shared/nifty-demo-icons.min.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/css/shared/base.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/css/shared/theme-style.css")" rel="stylesheet" type="text/css" media="screen" />



    <style>
        .g-recaptcha > div {
            width: auto !important;
        }
    </style>
</head>

<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    @MessageHelpers.ShowMessages(TempData)
                    <div class="mar-ver pad-btm">
                        <h1 class="h3">Sistema Gateway</h1>
                        <p>
                            Iniciar sesión en su cuenta
                        </p>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @*<input type="text" class="form-control" placeholder="Usuario" autofocus="">*@
                            @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", placeholder = "Usuario", autofocus = "" })
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" placeholder="Password">*@
                            @Html.TextBoxFor(x => x.Password, new { @Type = "password", @class = "form-control", placeholder = "Password" })
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
                    }
                </div>

            </div>
        </div>
    </div>
</body>
</html>

